*.pyc
*.pyo
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
build
downloads/*
eggs/*
fake-eggs/*
parts/*
develop-eggs
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.LCK
*.lck
*~
*.bak
.coverage
*.pyd
*.so
*.orig
*.rej
__minitage__*
.metadata
.secret.cfg
.settings
.project
.pydevproject
.DS_Store
virtualenv.py
venv/
images/
output/
