<div class="row" style="margin-bottom:5px;margin-top:5px;">
    <div class="span2 columns">
        <div align="center" style="width:100%;padding:5px;">
            <img src="{logo}" style="width:76px;" alt="{name}" title="{name}" />
        </div>
    </div>
    <div class="span14 columns">
        <h4>{name} - <small>{url}{datetime}</small></h4>
        <hr style="margin-top:2px;margin-bottom:5px;">
        <p>{description}</p>
        <ul class="technologies">{technologies}</ul>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>