html {
}
body {
    /* background: url(../lib/background_r_small.png) no-repeat fixed 100% 100%; */
    background-image: url(../lib/background_r_small.png);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position: center center;
    font-size: 120%;
}
span#ins {
    background-color: #C8FFD1;
}

span#del {
    background-color: #C0C0C0; text-decoration: line-through;
}

span#ch {
    bg-color: yellow;
}  